html{
	scroll-behavior: smooth;
	cursor: pointer;
}
body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
	overflow: hidden;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
header{
	width:100%;
	height:95vh;
	background-image:url("bg.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}
nav {
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color: black;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	overflow: hidden;
	width: 100%;
}
nav ul{
	display: flex;
}
nav ul li a{
	margin:30px;
	font-family:myriad pro regular;
	color:white;
	font-size: 15px;
	border: solid 3px black;
	border-radius: 5px;
	padding: 4px;
	border: solid 3px white;
	border-radius: 5px;
}
nav ul li a:hover{
	color: #0088a9;
	border-color: #0088a9;
	transition:all ease 0.5s;
	cursor: pointer;
}
a.club{
	color: white;
	font-size: 22px;
	margin-left:0px;
}
img.logo{
	width: 40px;
	height: 40px;
	margin-left: 15px;
	cursor: pointer;
	background-color: rgba(1, 1, 1, 0.5);
}
a.active{
	color: white;
	border: solid 3px white;
	border-radius: 5px;
}
img.family{
	height:245px;
	width: 406px;
	position:absolute;
	bottom:180px;
	left: 55%;
	border-radius: 10px;
}
p.intro{
	font-family:myriad pro regular;
	position: absolute;
	bottom: 450px;
	margin-left: 150px;
	margin-right: 150px;
	text-align: center;
	padding: 40px;
	padding-bottom: 15px;
	color: solid black;
	border-bottom: 3px solid black;
	border-radius: 10px;
	box-shadow: 4px 4px black;
}
h1{
	font-family:myriad pro regular;
	position: absolute;
	bottom: 476px;
	margin-left: 400px;
	padding: 40px;
	color: solid black;
	z-index: 1;
}
section.section1{
	font-family:myriad pro regular;
	position: absolute;
	bottom: 175px;
	border: solid 5px;
	margin-left: 190px;
	padding: 40px;
	background-color: black;
	color: white;
	border-radius: 10px;
}
p.part{
	bottom: 90px;
	text-align: center;
	font-size:30px;
	color: black;
	position: absolute;
	margin-left: 220px;
	font-weight: bolder;
	border-bottom: 4px solid black;
}
button{
	border-style: solid;
	border-color: black;
	font-size: 20px;
	padding: 8px 8px;
	color: black;
	font-weight: bold;
	font-family:myriad pro regular;
	border-radius: 10px;
	outline: none;
	position: absolute;
	text-decoration: none;
	margin-left: 320px;
	bottom: 50px;
}
button:hover{
	border-color: #0088a9;
	color: #0088a9;
	background-color: black;
	transition:all ease 0.5s;
	cursor: pointer;
}
p.note{
	left: 58%;
	bottom: 50px;
	position: absolute;
	font-size: 15px;
	text-align: justify;
	padding: 10px;
	padding-left: 30px;
	padding-right: 110px;
	border-radius: 10px;
	background-color: white;
	border-bottom: solid black 5px;
}
/*PAGE 2*/
section.section2{
	padding-top: 50px;
	padding-bottom: 5px;
	padding-right: 750px;
	text-indent: 50px;
	text-align: justify;
	margin-left: 80px;
}
span.details{
	font-family:myriad pro regular;
	position: absolute;
	margin-top: 59px;
	padding: 5px;
	color: white;
	background-color: black;
	left: 0px;
	padding-left: 2px;
}
h4.wear{
	top: 710px;
	position: absolute;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 155px;
	padding-right: 155px;
	background-color: white;
	color: black;
	border-top: black 4px solid;
	border-bottom: black 4px solid;
	border-radius: 10px;
	margin-left: 802px;
}
div.shirtcode{
	padding: 10px;
	border: 3px solid black;
}
div.page2{
	background-color: #D3D3D3;
	height: 600px;
}
section.section3{
	font-family:myriad pro regular;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-radius: 20px;
	border-bottom: 4px solid black;
	border-top: 4px solid black;
	margin-top: 0px;
	margin-left: 138px;
	background-color: white;
	color: black;
	font-size: 18px;
	position: absolute;
}
section.shirtnotes{
	font-family:myriad pro regular;
	margin-top: 270px;
	position: absolute;
}
p.details{
	margin-top: 30px;
	margin-left: 100px;
	font-size: 17px;
	font-weight: bolder;
	padding-bottom: 3px;
	border-bottom: 3px solid black;
	padding-right: 235px;
	padding-left: 10px;
	border-radius: 10px;
}
section ol li{
	margin-left: 100px;
}
p span.span1{
	padding: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 10px;
	background-color: black;
	color: white;
	margin-left: 160px;
}
li span{
	padding: 2px;
	border: black solid;
	border-radius: 5px;
	color: white;
	background-color: black;
	margin-left: 0px;
}
li span.event{
	margin-right: 30px;
}
li span.date{
	margin-right: 38px;
}
li span.time{
	margin-right: 35px;
}
li span.location{
	margin-right: 8px;
}
/*BOXXXXXXXXXXXXXXXXX*/
section.box{
	display: flex;
}
section.boxtwo{
	display:flex;
}
img.blue{
	width: 100px;
	height: 100px;
}
img.pink{
	width: 100px;
	height: 100px;
}
img.white{
	width: 100px;
	height: 100px;
}
img.green{
	width: 100px;
	height: 100px;
}
p.box1{
	background-color:  black;
	color: white;
	padding: 30px;
	border-radius: 10px;
	border: solid white 5px;
	margin-left: 59%;
	position: absolute;
	top: 820px;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
}
p.box2{
	background-color:  black;
	color: white;
	padding: 30px;
	border-radius: 10px;
	border: solid white 5px;
	margin-left: 78%;
	position: absolute;
	top: 820px;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
}
p.box3{
	background-color:  black;
	color: white;
	padding: 30px;
	border-radius: 10px;
	border: solid white 5px;
	margin-left: 78%;
	position: absolute;
	top: 1067px;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
}
p.box4{
	background-color:  black;
	color: white;
	padding: 30px;
	border-radius: 10px;
	border: solid white 5px;
	margin-left: 59%;
	position: absolute;
	top: 1067px;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
}
section span.blue{
	border-radius: 7px;
	border-bottom: black solid 3px;
	border-top: black solid 3px;
	position: absolute;
	padding: 3px;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 860px;
	top: 790px;
	background-color: white;
}
section span.pink{
	border-radius: 7px;
	border-bottom: black solid 3px;
	border-top: black solid 3px;
	position: absolute;
	padding: 3px;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 1122px;
	top: 790px;
	background-color: white;
}
section span.white{
	border-radius: 7px;
	border-bottom: black solid 3px;
	border-top: black solid 3px;
	position: absolute;
	padding: 3px;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 860px;
	top: 1035px;
	background-color: white;
}
section span.green{
	border-radius: 7px;
	border-bottom: black solid 3px;
	border-top: black solid 3px;
	position: absolute;
	padding: 3px;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 1122px;
	top: 1035px;
	background-color: white;
}
/*Page 3*/
div#page3{
	margin-top: 500px;
	font-family:myriad pro regular;
	background-color: #D3D3D3;
	height: 700px;
}
aside.games img{
	width: 210px;
	height: 190px;
	padding: 15px;
	position: absolute;
	border-radius: 5px;
	border-top: solid 4px black;
	border-bottom: solid 3px black;
	background-color: white;
}
aside img.eggrace{
	margin-top: 180px;
	margin-left: 30px;
}
aside img.cookie{
	margin-top: 180px;
	margin-left: 300px;
}
aside img.talent{
	margin-top: 420px;
	margin-left: 30px;
}
aside img.balloon{
	margin-top: 420px;
	margin-left: 300px;
}
span.activities{
	font-family:myriad pro regular;
	position: absolute;
	margin-top: 59px;
	padding: 5px;
	color: white;
	background-color: black;
	left: 0px;
	padding-left: 2px;
}
aside p.games{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 155px;
	padding-right: 155px;
	margin-top: 120px;
	text-align: center;
	border-top: black 4px solid;
	border-bottom: black 4px solid;
	border-radius: 10px;
	position: absolute;
	margin-left: 130px;
	background-color: white;
}
article.importance{
	font-size: 13px;
	text-align: justify;
	position: absolute;
}
article.importance h5{
	margin-right: 80px;
	margin-left: 660px;
	margin-top: 90px;
	font-size: 16px;
}
article.importance p{
	margin-left: 660px;
	margin-right: 100px;
	text-indent: 50px;
}
article.importance h6{
	margin-left: 660px;
	margin-top: 30px;
	font-size: 10px;
}
video{
    outline: 0px;
    position: absolute;
    margin-left: 800px;
    margin-bottom: 100px;
    border-radius: 10px;
}
audio{
	 outline: 0px;
}
/*Page4*/
/*ICONS FIXED ATTACHED RIGHT SIDE*/
.social{
	z-index: 1;
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);/*para mamove sa center sa right*/
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color: white;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
	cursor: pointer;
}
.social i{
	font-size:20px;
	color:#2B2B2B;
}
footer{
	margin-top: 250px;
	height:200px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
footer img{
	width: 100%;
	height: 100%;
	position: absolute;
	margin-bottom: 400px;
}
footer p.questions{
	font-family:myriad pro regular;
	position: absolute;
	margin-bottom: 450px;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: white;
	border-bottom: 4px solid white;
	border-radius: 8px;
	padding-bottom:10px;
	padding-right: 20px; 
	padding-bottom: 20px; 
}
footer span.contact{
	color: white;
	background-color: black;
	position: absolute;
	padding: 10px 15px;
	border: white 3px solid;
	margin-bottom: 600px;
	z-index: 1;
	border-radius: 10px;
	font-size: 18px;
}
footer span.contact:hover{
	transition:all ease 0.5s;
	color: black;
	background-color: white;
	border-color: black;
	cursor: pointer;
}
footer span.number{
	padding: 10px 15px;
	border: white 3px solid;
	position: absolute;
	margin-bottom: 290px;
	color: white;
	background-color: black;
}
footer span.number:hover{
	transition:all ease 0.5s;
	color: black;
	background-color: white;
	border-color: black;
}
.social-icons a{
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	border-radius:50%;
	margin-left: 20px;
	margin-right: 20px;
}
.social-icons{
	display: flex;
}
.social-icons i,.social i{
	color: black;
}
.social-icons a:hover{
	background-color: black;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
	cursor: pointer;
}
.social-icons a:hover i,.social a:hover i{
	color: white;
	transition:all ease 0.5s;
	cursor: pointer;
}
p.created{
	position: absolute;
	font-size: 15px;
	font-family:myriad pro regular;
	color: black;
	margin-left: 1140px;
	margin-top: 170px;
	padding-bottom: 5px;
	border-bottom: black solid 4px;
}
img.logo2{
	position: absolute;
	width: 40px;
	height: 40px;
	margin-left: 890px;
	margin-top: 540px;
	cursor: pointer;
	border: 2px solid black;
}